mat-toolbar{
    background-color:#e8e7e2;

    span{
        color: black;
    }
}

.example-spacer {
    flex: 1 1 auto;
  }

  .mat-drawer-side {
    border: none;
  }

  .mat-sidenav-content{
    background-color: #f5f5f5;
  }